<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amisha.generalstore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/generalstore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/generalstore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeleteRecord" />
        <activity android:name=".UpdateRecord" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>